<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="formulario">
            <form action="/task/add" method="POST" id="form">
                <label for="site">Sitio</label>
                <input type="text" name="site" id="site" required="required" class="form-control">
                <label for="project">Proyecto</label>
                <input type="text" name="project" id="project" required="required" class="form-control">
                <label for="task">Tarea</label>
                <input type="text" name="task" id="task" required="required" class="form-control">
                <label for="assigned">Responsable</label>
                <div class="input-group mb-3">
                    <select class="custom-select" id="assigned" name="assigned">
                        <option selected></option>
                        <% for(usuario of usuarios){ %>
                        <option value="<%= usuario.id %>"><%= usuario.first_name + " " + usuario.last_name %></option>
                        <% } %>
                    </select>
                </div>



                <div class="d-flex justify-content-end mt-3"><button type="submit"
                        class="btn btn-primary">Crear</button></div>
            </form>
        </div>

    </main>
    <footer></footer>


    <%- include('./partials/scripts') %>
</body>

</html>